* {
	list-style:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body
{
    margin: 0em;
    padding: 0em;
    font-family: Georgia; serif;
}

.page
{
    position: relative;
    height: 1024px;
    width: 768px;
    overflow: hidden;
}

.pageov /* -- version of page div with overflow visible -- */
{
    position: relative;
    height: 1024px;
    width: 768px;
}

p
{
    font-family:Georgia;
    font-size: 92%;
    line-height 23px: 
}
/* ------------------------------ O Magazine Gift Guide Styles -------------------------------- */

.gg_title
{
    font-size: 120%;
    font-weight: bold;
    color: #C00;
    text-decoration: underline;
    font-style: italic;
}

.gg_opentext
{
    position: absolute; 
    left:258px; 
    top: 153px; 
    width: 300px; 
}

.gg_menutext1
{
    position: absolute; 
    left:320px; 
    top: 103px; 
    width: 332px; 
    height: 125px;
    text-align: center;
    display:none;
}

.gg_purchase_info
{
    font-weight: bold;
}

.gg_menutext1 p
{
    font-size: 92%;
    line-height: 19px;
}

.gg_opentext p
{
    font-size: 92%;
    line-height: 19px;
}

.gg_open_buttons
{
    position: absolute; 
    left:586px; 
    top: 167px; 
    width: 170px; 
    height: 155px;
}

.gg_menu_buttons
{
    position: absolute; 
    left:54px; 
    top: 637px; 
    width: 170px; 
    height: 155px;
}

.gg_button
{
    padding: 2px 0;
}

.gg_backstock
{
    position: absolute;
    width: 37px;
    height: 78px;
    right: 32px;
    top: 25px;
}

.gg_credits
{
    position: absolute;
    width: 250px;
    height: 55px; 
    top: 995px;
    left: 30px;
    z-index: 99;
    font-family: Georgia;
    font-size: 76%;
    color: #666;
}

.gg_360_placeholder
{
    position: absolute;
    top: 369px;
    left:277px;
}

.gg_main1
{

}

.gg_menu
{
    position: absolute;
    top: 884px;
    left: 0px;
    width:769px;
}

.gg_menu_button
{
}

.gg_menu .gg_menu_3{
    margin-left:-2px;
}
.gg_menu .gg_menu_4{
    margin-left:-2px;    
}
.gg_menu .gg_menu_5{
    margin-left:-2px;
}



/* Read book buy/share/fav */

.pBooks_btns
{
	left: 120px;
	position: absolute;
	top: 720px;
	width: 406px;
	z-index: 400;
}
.pBooks_btns2
{
	left: 243px;
	position: absolute;
	top: 916px;
	width: 340px;
	z-index: 400;
}

.pBooks_btn
{
    margin-right: 1px;
}
/* Read book buy/share/fav */
/* ------------------------------ O Magazine Ten Out of 10 Books Styles -------------------------------- */

.ten10_booktext
{
    position: absolute;
    top: 848px;
    left: 150px;
    width: 475px;
    text-align: center;
}

.ten10_booktext04
{
    position: absolute;
    top: 856px;
    left: 120px;
    width: 525px;
    text-align: center;
}

.ten10_booktext04
{
    position: absolute;
    top: 859px;
    left: 120px;
    width: 525px;
    text-align: center;
}

.ten10_booktext05
{
    position: absolute;
    top: 859px;
    left: 120px;
    width: 525px;
    text-align: center;
}

.ten10_booktext07
{
    position: absolute;
    top: 859px;
    left: 120px;
    width: 525px;
    text-align: center;
}

.ten10_booktext08
{
    position: absolute;
    top: 868px;
    left: 120px;
    width: 525px;
    text-align: center;
}

.ten10_booktext09
{
    position: absolute;
    top: 865px;
    left: 120px;
    width: 525px;
    text-align: center;
}

.ten10_booktext p
{
    font-size: 103%;
}

.ten10_buttons
{
    position: absolute;
    top: 950px;
    left: 65px;
}

.ten10_button
{
    padding:0 1px;
    -webkit-tap-highlight-color: rgba(.5,.5,.5,.5);
}
.incopyLINK{
	position:absolute;
	z-index:600 !important;
}
#audImg{
	display: block; 
	position: absolute;
	z-index: 2000 !important;
}
/* ------------------------------ O Magazine Art Books Styles -------------------------------- */

#art_booktext01
{
    position: absolute;
    top: 766px;
    right: 261px;
    width: 480px;
    text-align: right;
}

#art_booktext02a
{
    position: absolute;
    top: 192px;
    left: 94px;
    width: 270px;
    text-align: right;
}

#art_booktext02b
{
    position: absolute;
    top: 500px;
    right: 45px;
    width: 235px;
    text-align: left;
}

#art_booktext03a
{
    position: absolute;
    top: 575px;
    left: 36px;
    width: 195px;
    text-align: right;
}

#art_booktext03b
{
    position: absolute;
    top: 605px;
    right: 20px;
    width: 210px;
    text-align: left;
}

p
{
    font-size: 107%;
    line-height: 21px;
}

#art_buttons01
{
    position: absolute;
    top: 883px;
    right: 254px;
}

#art_buttons02a
{
    position: absolute;
    top: 375px;
    left: 50px;
}

#art_buttons02b
{
    position: absolute;
    top: 705px;
    right: 125px;
}

#art_buttons03a
{
    position: absolute;
    top: 815px;
    left: 80px;
}

#art_buttons03b
{
    position: absolute;
    top: 815px;
    right: 80px;
}

.art_button
{
    padding:2px 1px;
}

.art_leadin
{
    font-family: Helvetica;
    font-weight: bold;
    font-size: 90%;
    color: #BB0000;
    text-transform: uppercase;
}


/* ------------------------------ O Magazine What I Know For Sure Styles -------------------------- */

#wikforsure
{
    margin: 0 40px;
    -webkit-column-count: 2;
    -webkit-column-rule: 0px solid white;
    -webkit-column-gap: 20px;
    position: absolute;
    top: 552px;
    left: -8px;
    font-family: Georgia, serif;
    font-size: 96%;
    width: 713px;
    height: 440px;
}

#wikforsure p
{
    text-indent: 13px;
    margin: 0;
}

.wikfs_leadin
{
    font-family: Helvetica;
    font-weight: bold;
    font-size: 90%;
    text-transform: uppercase;
}


/* ------------------------------ O Magazine Books That Made a Difference Styles -------------------------- */

#difdesc1
{
    position: absolute;
    left: 150px;
    bottom: -100px;
    width: 635px;
    height: 290px;
    line-height: 22px;
    display: block;
}

#difdesc2
{
    position: absolute;
    left: 150px;
    bottom: -100px;
    width: 635px;
    line-height: 22px;
    display: block;
}

#difdesc3
{
    position: absolute;
    left: 150px;
    bottom: -100px;
    width: 635px;
    line-height: 22px;
    display: block;
}

#difdesc4
{
    position: absolute;
    left: 150px;
    bottom: -100px;
    width: 635px;
    line-height: 22px;
    display: block;
}

#difdesc5
{
    position: absolute;
    left: 150px;
    bottom: -100px;
    width: 635px;
    line-height: 22px;
    display: block;
}

.difdesc_buttons
{
    margin-left:90px;
}

#difdesc1_buttons
{
    display: block;
    padding-top:100px;        
}

#difdesc2_buttons
{
    display: block;
    padding-top:100px;        
}

#difdesc3_buttons
{
    display: block;
    padding-top:100px;        
}

#difdesc4_buttons
{
    display: block;
    padding-top:100px;        
}

#difdesc5_buttons
{
    display: block;
    padding-top:78px;        
}

#difbook1
{
    position: absolute;
    left: 30px;
    top: 165px;
    width: 136px;
    height: 229px;
}

#difbook2
{
    position: absolute;
    left: 170px;
    top: 165px;
    width: 136px;
    height: 229px;
}

#difbook3
{
    position: absolute;
    left: 317px;
    top: 165px;
    width: 136px;
    height: 229px;
}

#difbook4
{
    position: absolute;
    left: 458px;
    top: 165px;
    width: 136px;
    height: 229px;
}

#difbook5
{
    position: absolute;
    left: 600px;
    top: 165px;
    width: 136px;
    height: 229px;
}

.diff_buttons
{
    position: absolute;
    top: 674px;
    left: 148px;
}

.diff_button
{
    padding:0 1px;
}

.pahead
{
    font-family: HelveticaNeue;
    font-size: 130%;
    color: #330000;
    font-weight: bold;
}

#paloalto
{
    font-family: HelveticaNeue;
    font-size: 80%;
    color: #330000;
    position: absolute;
    width: 535px;
    left: 165px;
    top: 774px;
}

#pabuttons
{
    position: relative;
    float: right;
    z-order: 99;
}


/*--------------------------------- Give-O-Way Styles ---------------------------------------*/

#swapDayImage1
{
    position: absolute;
    left: 30px;
    top: 300px;
}

#swapDayImage2
{
    position: absolute;
    left: 30px;
    top: 300px;
    visible: none;
}

#swapDayImage3
{
    position: absolute;
    left: 30px;
    top: 300px;
    visible: none;
}

#swapDayImage4
{
    position: absolute;
    left: 30px;
    top: 300px;
    visible: none;
}

#swapDayImage5
{
    position: absolute;
    left: 30px;
    top: 300px;
    visible: none;
}

#swapDayImage6
{
    position: absolute;
    left: 30px;
    top: 300px;
    visible: none;
}

#swapDayImage7
{
    position: absolute;
    left: 30px;
    top: 300px;
    visible: none;
}

#swapDayImage8
{
    position: absolute;
    left: 30px;
    top: 300px;
    visible: none;
}

#swapDayImage9
{
    position: absolute;
    left: 30px;
    top: 300px;
    visible: none;
}

#swapDayImage10
{
    position: absolute;
    left: 30px;
    top: 300px;
    visible: none;
}

#swapDayImage11
{
    position: absolute;
    left: 30px;
    top: 300px;
    visible: none;
}

#swapDayImage12
{
    position: absolute;
    left: 30px;
    top: 300px;
    visible: none;
}

#swapDayImage13
{
    position: absolute;
    left: 30px;
    top: 300px;
    visible: none;
}

#swapDayImage14
{
    position: absolute;
    left: 30px;
    top: 300px;
    visible: none;
}

/* Best Life section- Oprah, January 2011 */

.bl-buttons {
    position:absolute; 
    top:680px; 
    width:75px; 
    height:75px;    
}

#bl-button1 {
    left:520px; 
}

#bl-button2 {
    left:598px; 
}

#bl-button3 {
    left:676px; 
}


#text-container.slide_in_text {
	position: absolute;

	-webkit-animation-name: slide_in;
	-webkit-animation-iteration-count: infinite; // use 0 to infinite 
	-webkit-animation-direction: normal; // default is normal. use 'alternate' to reverse direction 
	-webkit-animation-timing-function: ease-in;
}

@-webkit-keyframes slide_in{
   	from {left: 759px;}
	to {left: 237px;}
}

@-webkit-keyframes photo-container.fade.out{
    0%   { opacity: 1; }
    10%  { opacity: 0.5; }
    100% { opacity: 0; }
}

#photo-container.nada.on{
    opacity:1;
}

#photo-container.nada.off{
    opacity:0;
}

@-webkit-keyframes TEXT-MOVE {
	from {
		left: 0;
		top: 0;
	}
	to {
		left: -10000px;
		top: -2000px;
	}
}


/* ------------------------------ Fashion Buttons -------------------------------- */

#fash_btn
{
    padding-right: 1px;
}
.lybl-incopy1{
	display:block;
	/*border:solid 2px #FF0000;*/
	width:115px;
	height:27px;
	position:absolute;
	left: 604px;
	top: 202px;
	z-index:200;
}
/* text boxes on beck_03.html */

#adjectives1 {
    position:absolute; 
    top:546px; 
    left:411px; 
    width:309px; 
    height:15px; 
    border:1px solid #000000; 
    font:1.0em helvetica;    
}

#adjectives2 {
    position:absolute; 
    top:579px; 
    left:411px; 
    width:309px; 
    height:15px; 
    border:none; 
    font:1.0em helvetica;
}

#adjectives3 {
    position:absolute; 
    top:612px; 
    left:411px; 
    width:309px; 
    height:15px; 
    border:none; 
    font:1.0em helvetica;
}

#save_target{
    position:absolute; 
    top:654px; 
    left:395px; 
    width:157px; 
    height:45px; 
    font:1.0em helvetica;    
    display: block;     
}

#clear_target{
    position:absolute; 
    top:654px; 
    left:578px; 
    width:156px; 
    height:45px; 
    font:1.0em helvetica;   
    display: block;     
}

#christina_target {
    position:absolute;
    top:860px;
    left:30px;
    width:735px;
    height:135px;
}
.fLink_span {
	z-index:300; 
	position:absolute;}
.fpopLink_span {
	z-index:300; 
	position:absolute;
	display:none;
	}
#spopGuide {
	display:none;
	}
#spopGuide a {
	z-index:3000; 
	position:absolute;
	xborder:#00FF66 3px solid;
	}

.supopLink {
	z-index:300; 
	position:absolute;
	display:none;
	}

    /* beck_03 page */

    #adj1_text{
        position:absolute; 
        top:544px; 
        left:413px; 
        width:310px; 
        height:15px; 
        font:16px helvetica; 
        -webkit-box-shadow:0px #ffffff;
        border:0px solid white;
/*        
        background: transparent;        
*/                
    }

    #adj2_text{
        position:absolute; 
        top:577px; 
        left:413px; 
        width:310px; 
        height:15px; 
        font:16px helvetica; 
        border:none;"     
    }

    #adj3_text{
        position:absolute; 
        top:610px; 
        left:413px; 
        width:310px; 
        height:15px; 
        font:16px helvetica; 
        border:none;"     
    }

    #save_target{
        position:absolute; 
        top:652px; 
        left:397px; 
        width:152px; 
        height:45px; 
        font:16px helvetica;
    }

    #clear_target{
        position:absolute; 
        top:652px; 
        left:580px; 
        width:152px; 
        height:45px; 
        font:16px helvetica;
    }
    
.tb_thumbnails{
  display:none;
  -webkit-touch-callout:none;
  -webkit-tap-highlight-color:none;  
}

.tb_targets{
  z-index:3;
  width:100px;
  height:114px;
  -webkit-touch-callout:none;
  -webkit-tap-highlight-color:none;    
}

#tb_target1{
  position:absolute;
  left:100px;
  top:800px;
}

#tb_target2{
  position:absolute;
  left:160px;
  top:247px;
}

#tb_target3{
  position:absolute;
  left:276px;
  top:247px;
}

#tb_target4{
  position:absolute;
  left:392px;
  top:247px;
  
  -webkit-touch-callout:none;
  
}

#tb_target5{
  position:absolute;
  left:512px;
  top:247px;
}

#tb_target6{
  position:absolute;
  left:42px;
  top:375px;
}

#tb_target7{
  position:absolute;
  left:158px;
  top:375px;
}

#tb_target8{
  position:absolute;
  left:275px;
  top:375px;
}

#tb_target9{
  position:absolute;
  left:392px;
  top:375px;
}

#tb_target10{
  position:absolute;
  left:510px;
  top:375px;
}

#tb_target11{
  position:absolute;
  left:626px;
  top:375px;
}

#tb_target12{
  position:absolute;
  left:42px;
  top:505px;
}

#tb_target13{
  position:absolute;
  left:158px;
  top:505px;
}

#tb_target14{
  position:absolute;
  left:275px;
  top:505px;
}

#tb_target15{
  position:absolute;
  left:393px;
  top:505px;
}

#tb_target16{
  position:absolute;
  left:510px;
  top:505px;
}

#tb_target17{
  position:absolute;
  left:626px;
  top:505px;
}

#tb_target18{
  position:absolute;
  left:100px;
  top:631px;
}

#tb_target19{
  position:absolute;
  left:216px;
  top:631px;
}

#tb_target20{
  position:absolute;
  left:334px;
  top:631px;
}

#tb_target21{
  position:absolute;
  left:450px;
  top:631px;
}

#tb_target22{
  position:absolute;
  left:566px;
  top:631px;
}

#tb_target23{
    position:absolute;
    left:36px;
    top:981px;
    width:50px;
    height:50px;
    z-index:3;              
}

#tb_thumbnail1{
  position:absolute;
  left:100px;
  top:800px;
  z-index:2;
}

#tb_thumbnail2{
  position:absolute;
  left:160px;
  top:247px;
  z-index:2;  
}

#tb_thumbnail3{
  position:absolute;
  left:276px;
  top:247px;
  z-index:2;  
}

#tb_thumbnail4{
  position:absolute;
  left:392px;
  top:247px;
  z-index:2;  
}

#tb_thumbnail5{
  position:absolute;
  left:512px;
  top:247px;
  z-index:2;  
}

#tb_thumbnail6{
  position:absolute;
  left:42px;
  top:375px;
  z-index:2;    
}

#tb_thumbnail7{
  position:absolute;
  left:158px;
  top:375px;
  z-index:2;      
}

#tb_thumbnail8{
  position:absolute;
  left:275px;
  top:375px;
  z-index:2;  
}

#tb_thumbnail9{
  position:absolute;
  left:392px;
  top:375px;
  z-index:2;    
}

#tb_thumbnail10{
  position:absolute;
  left:510px;
  top:375px;
  z-index:2;      
}

#tb_thumbnail11{
  position:absolute;
  left:626px;
  top:375px;
  z-index:2;  
}

#tb_thumbnail12{
  position:absolute;
  left:42px;
  top:505px;
  z-index:2;    
}

#tb_thumbnail13{
  position:absolute;
  left:158px;
  top:505px;
  z-index:2;        
}

#tb_thumbnail14{
  position:absolute;
  left:275px;
  top:505px;
  z-index:2;  
}

#tb_thumbnail15{
  position:absolute;
  left:393px;
  top:505px;
  z-index:2;  
}

#tb_thumbnail16{
  position:absolute;
  left:510px;
  top:505px;
  z-index:2;    
}

#tb_thumbnail17{
  position:absolute;
  left:626px;
  top:505px;
  z-index:2;    
}

#tb_thumbnail18{
  position:absolute;
  left:100px;
  top:631px;
  z-index:2;    
}

#tb_thumbnail19{
  position:absolute;
  left:216px;
  top:631px;
  z-index:2;      
}

#tb_thumbnail20{
  position:absolute;
  left:334px;
  top:631px;
  z-index:2;        
}

#tb_thumbnail21{
  position:absolute;
  left:450px;
  top:631px;
  z-index:2;          
}

#tb_thumbnail22{
  position:absolute;
  left:566px;
  top:631px;
  z-index:2;          
}

#tb_credits{
    position:absolute;
    left:20px;
    top:761px;
    z-index:4;              
//    display:none;
    opacity:0;
    -webkit-transition: opacity 0.5s;
}

#tb_credits.visible{
    opacity:1;
}

#tb_close{
    position:absolute; top:0px; left:300px; width:50px; height:50px;
}
.food_btns{
	bottom: 115px;
	left: 80px;
	position: absolute;
	width: 140px;
	z-index: 400;
}
.fullpage_whitebg_popups{position:absolute; top:0px; left:0px;background-color:rgb(255,255,255); display:none}
.fullpage_whitebg80_popups{position:absolute; top:0px; left:0px;background-color:rgba(255,255,255,0.8); display:none}
.fullpage_whitebg90_popups{position:absolute; top:0px; left:0px;background-color:rgba(255,255,255,0.9); display:none}
.fullpage_greybg60_popups{position:absolute; top:0px; left:0px;background-color:rgba(0,0,0,0.6); display:none}
.fullpage_popups{position:absolute; top:0px; left:0px; display:none; }
.closeParentPop {position:absolute; right:0; top:0; width:50px; height:50px;}
.btns_35{position:absolute; height:35px; width:35px;}
.btns_40{position:absolute; height:40px; width:40px;}
.btns_45{position:absolute; height:45px; width:45px;}
.btns_50{position:absolute; height:50px; width:50px;}
.btns_55{position:absolute; height:55px; width:55px;}
.btns_60{position:absolute; height:60px; width:60px;}
.btns_65{position:absolute; height:65px; width:65px;}
.btns_70{position:absolute; height:70px; width:70px;}
.btns_75{position:absolute; height:75px; width:75px;}
.btns_80{position:absolute; height:80px; width:80px;}
.btns_85{position:absolute; height:85px; width:85px;}
.btns_90{position:absolute; height:90px; width:90px;}
.btns_120{position:absolute; height:120px; width:120px;}
