/* ------------------------------ Basic Article Styles -------------------------------- */
* {
	xlist-style:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


body
{
	margin: 0em;
	padding: 0em;
}

.page {
    position: relative;
    height: 1024px;
    width: 768px;
    overflow: hidden;
}

.wtcpage {
    position: relative;
    height: 979px;
    width: 768px;
    overflow: hidden;
}

.pageno {
    position: relative;
    height: 1024px;
    width: 768px;
}

.cover  /* for the cover article page */
{
	background-image: url(images/bg_coverpage.png);
}

.cover_img_layer
{
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
}

.cover_nav
{
	background-image: url(images/cover_button_bar_base.png);
	position: absolute;
	top: 954px;
	height: 70px;
	width: 768px;
	text-align: center;
}

.cover_nav img
{
	margin-top: 10px;
}

.cover_nav img
{
	padding: 0 5px 0 5px;
}

.masthead /* for the top article header - creates a fullspan colored bar, usually with an image or text on top */
{
	width: 100%;
	background-image: url(images/AppHeaders_tile.png);
	margin: 0em;
	padding: 0em;
}

.masthead .floatright
{
	margin: 10px 10px 0 0;
}

.subheader
{
	font-family: helvetica;
	font-size: 1.25em;
	color: #666666;
	font-weight: normal;
	line-height: 1.25em;
	text-transform: uppercase;
}

.article  /* wrapped around the entire content to create side margins */
{
	width: 568px;
	margin-left: 100px;
	margin-right: 100px;
}

.article_mahb  /* wrapped around the entire content to create side margins */
{
	width: 568px;
	margin-left: 190px;
	margin-right: 100px;
	margin-top: 110px;
}


p
{
	font-family: georgia;
	font-size: 1.0em;
	line-height: 1.5em;
}

.level2 /* used to indent level 2 content if necessary */
{
	margin-left: 20px;
}

.level3 /* used to indent level 3 content if necessary */

{
	margin-left: 40px;
}

.hyperlink
{
	color: #666666;
	text-decoration: underline;
}

.bold
{
	font-weight: bold;
}

.italic
{
	font-style: italic;
}

.underline
{
	text-decoration: underline;
}

hr
{
	border: 0;
	background-color: #999999;
	height: 1px;
	width: 100%;
}

map /* prevents unwanted spacing when an image map is used */
{
	position: absolute;
}

.title
{
	font-family: helvetica;
	font-size: 1.50em;
	color: #C60B0B;
	font-weight: bold;
	text-align: left;
	line-height:1.25em;
}

.hiddentext
{
    display: none;
}

.smallcaps
{
    text-transofrm: uppercase;
    font-size: 90%
}

.articlestart
{
    font-family: Helvetica, san-serif;
    font-size: 90%;
    font-weight: bold;
    text-transform: uppercase;
}

span.nobreak
{
    white-space: nowrap;
}

/* ------------------------------ Cover Feature -------------------------------- */
body.cover_feature div.page {
	position: relative;
	height: 1024px;
	width: 768px;
}
body.cover_feature div#title_sequence div#circles {
	display: none;
	position: absolute;
	z-index: 10;
	background: url(../images/cover_feature/circles.png) top left no-repeat;
	width: 448px;
	height: 458px;
	top: 167px;
	left: 320px;
}
body.cover_feature div#title_sequence div#title1 {
	display: none;
	position: absolute;
	z-index: 20;
	background: url(../images/cover_feature/title1.png) top left no-repeat;
	width: 285px;
	height: 47px;
	top: 350px;
	left: 400px;
}
body.cover_feature div#title_sequence div#title2 {
	display: none;
	position: absolute;
	z-index: 30;
	background: url(../images/cover_feature/title2.png) top left no-repeat;
	width: 353px;
	height: 20px;
	top: 406px;
	left: 362px;
}
body.cover_feature div#title_sequence div#title3 {
	display: none;
	position: absolute;
	z-index: 40;
	background: url(../images/cover_feature/title3.png) top left no-repeat;
	width: 203px;
	height: 18px;
	top: 434px;
	left: 471px;
}
body.cover_feature div#title_sequence div#title4 {
	display: none;
	position: absolute;
	z-index: 50;
	background: url(../images/cover_feature/title4.png) top left no-repeat;
	width: 225px;
	height: 11px;
	top: 457px;
	left: 413px;
}
body.cover_feature a#button_audio {
	//display: none;
	background: url(../images/cover_feature/button_audio.png) top left no-repeat;
	position: absolute;
	z-index: 50;
	width: 125px;
	height: 125px;
	top: 30px;
	left: 24px;
}
body.cover_feature a#button_audio:active {
	opacity: 0.5;
}
body.cover_feature a#button_translation {
	//display: none;
	background: url(../images/cover_feature/button_translation.png) top left no-repeat;
	position: absolute;
	z-index: 50;
	width: 145px;
	height: 47px;
	top: 170px;
	left: 14px;
}
body.cover_feature div#poem {
	display: none;
	position: absolute;
	top: 80px;
	left: 240px;
	padding: 40px;
	color: white;
	background-color: #fff;
	opacity: 0.9;
	color: #000;
}
body.cover_feature div#poem h3 {
	margin: 0;
	font-size: 1.2em;
}
body.cover_feature div#poem h4 {
	margin: 5px 0 0 0;
	font-weight: normal;
	font-size: 1.1em;
}
body.cover_feature div#poem p {
	line-height: 20px;
}

.bodycopy
{
    text-indent: 13px;
    margin: 0;
}

.newpagecopy
{
    margin:0;
}

.newsectioncopy
{
    text-indent: 0px;
    margin-bottom: 0px;
}

/* ------------------------------ End Cover Feature -------------------------------- */


/* ------------------------------ What I Learned Article Styles -------------------------------- */


.WILarticle
{
	width: 768px;
	margin-left: 0px;
	margin-right: 0px;
}

#WILbody
{
	margin-left: 0;
}

.WILp
{
	font-family: georgia;
	font-size: 100%;
	line-height: 20px;
	margin-bottom: -9px;
	padding-left: 20px;
	padding-right: 65px;
}

.WILbold
{
	font-family: helvetica, sans-serif;
	font-weight: bold;
	font-size: .9em;
}

.WILlastp
{
	font-family: georgia;
	line-height: 1.2em;
	margin-bottom: 0px;
}

.WILtitle
{
	margin-left: 20px;
	margin-top: 50px;
	margin-bottom: -4px;
}

#WILfloater
{
	display: none;
	position: absolute;
	bottom: 0px;
	left: 20px;
}

.WILscroll
{
	margin-left: -101px;
	margin-top: -306px;
}

.WILbordercap
{
	float: left;
	margin: 0 9px;
	height: 3250px;
	padding-right: 13px;
	background-image: url(../images/wil/wil_borderbg_left.png);
	background-repeat: repeat-y;
}

.WILborderbtm
{
	float: left;
	margin-left: 9px;
	margin-bottom: 80px;
	height: 82px;
	width: 741px;
	background-image: url(../images/wil/wil_borderbg_btm.png);
}

.WILsmallcaps
{
	text-transform: uppercase;
	font-size: 85%;
}

.WILbullet
{
	margin-bottom: 1px;
	margin-right: 4px;
}


/* ------------------------------ End What I Learned Article Styles -------------------------------- */


/* ------------------------------ Women We Love Article Styles -------------------------------- */


#wwlfloater
{
	display: none;
	position: absolute;
}

#wwl_tapvideo
{
	position: absolute;
	bottom: 18px;
	right: 15px;
}

#wwl_p1top
{
    margin-left: 40px;
    margin-bottom: -16px;
    margin-top: 35px;
}

#wwl_p4top
{
    margin-left: 28px;
    margin-top: 35px;
}

#wwl1bodycoll
{
    float: left;
    width: 340px;
    margin-left: 40px;
}

#wwl1bodycolr
{
    float: right;
    width: 320px;
    margin-right: 40px;
}

#wwl2bodycoll
{
    float: left;
    width: 340px;
    margin-left: 40px;
}

#wwl2bodycoll p
{
    float: left;
    width: 330px;
    font-family: georgia;
    font-size: .99em;
    line-height: 1.5em;
}

#wwl2bodycolr
{
    float: right;
    width: 330px;
    margin-right: 40px;
}

#wwl3bodycoll
{
    float: left;
    width: 320px;
    margin-left: 60px;
}

#wwl3bodycolr
{
    float: right;
    width: 320px;
    margin-right: 40px;
}

#wwl_coldivider1
{
    border-left: 1px solid red;
    height: 400px;
    margin-top: 20px;
    margin-left: 385px;
}

#wwl_coldivider2
{
    border-left: 1px solid red;
    height: 970px;
    margin-top: 40px;
    margin-left: 385px;
}

#wwl_coldivider3
{
    border-left: 1px solid red;
    height: 220px;
    margin-top: 18px;
    margin-left: 385px;
}

#wwl1credit
{
    clear: both;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    font-size: .6em;
    margin-left: 40px;
}

#wwl1credit
{
    clear: both;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    font-size: .6em;
    margin-left: 40px;
}

body.wwl a#wwl_button_audio {
	//display: none;
	background: url(../images/wwl_tapvideo.png) top left no-repeat;
	position: absolute;
	z-index: 50;
	width: 165px;
	height: 165px;
	top: 20px;
	left: 30px;
}
body.cover_feature a#coty_button_audio:active {
	opacity: 0.5;
}

body.cover_feature a#coty_button_audio {
	//display: none;
	background: url(../images/coty/coty_action_video.png) top left no-repeat;
	position: absolute;
	z-index: 50;
	width: 109px;
	height: 151px;
	top: 14px;
	right: 14px;
}
body.cover_feature a#coty_button_audio:active {
	opacity: 0.5;
}

#wwl1 {
    margin: 0 30px;
    width: 710px;
    position: absolute;
    top: 678px;
    left: 3px;
    -webkit-column-count: 2;
    -webkit-column-rule: 1px solid #f2655b;
    -webkit-column-gap: 20px;
}

#wwl2 {
    margin: 0 30px;
    width: 710px;
    position: absolute;
    top: 567px;
    left: 3px;
    -webkit-column-count: 2;
    -webkit-column-rule: 1px solid #f2655b;
    -webkit-column-gap: 20px;
}

#wwl3 {
    margin: 0 30px;
    width: 710px;
    position: absolute;
    top: 667px;
    left: 3px;
    -webkit-column-count: 2;
    -webkit-column-rule: 1px solid #f2655b;
    -webkit-column-gap: 20px;
}

.esq
{
    font-family: Helvetica;
    color: #009dd7;
    font-weight: bold;
}

.beau
{
    font-family: Helvetica;
    color: #cc1f42;
    font-weight: bold;
}

/* ------------------------------ End Women We Love Article Styles -------------------------------- */


/* ------------------------------ Style Profile Article Styles -------------------------------- */

#sp1
{
    position: absolute;
    margin: 30px 45px 0 45px;
    -webkit-column-count: 2;
//    -webkit-column-rule: 1px solid black;
    -webkit-column-gap: 20px;
    width: 660px;
    top: 596px;
    left: 12px;
    z-index: 99;
}

#sp1
{
    position: absolute;
    margin: 30px 45px 0 45px;
    -webkit-column-count: 2;
//    -webkit-column-rule: 1px solid black;
    -webkit-column-gap: 20px;
    width: 660px;
    top: 596px;
    left: 12px;
    z-index: 99;
}

#sp2
{
    position: absolute;
    margin: 20px 45px 0 45px;
    -webkit-column-count: 2;
//    -webkit-column-rule: 1px solid black;
    -webkit-column-gap: 20px;
    width: 660px;
    top: 0px;
    left: 12px;
}

.esqsp
{
    color:#94a054;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 92%;
}

.spiv
{
    font-family: Helvetica;
    color: #000099;
    font-weight: bold;
}

#sp1mc
{
    position: absolute;
    top: 740px;
    margin-left: 45px;
    margin-right: 45px;
    line-height: 23px;
    -webkit-column-count: 2;
    -webkit-column-rule: 1px solid black;
    -webkit-column-gap: 20px;
}

#sp2mc
{
    position: absolute;
    top: 631px;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 55px;
    line-height: 23px;
    -webkit-column-count: 2;
    -webkit-column-rule: 1px solid black;
    -webkit-column-gap: 20px;
}

#sp1bodycolr
{
    float: right;
    width: 330px;
    margin-right: 40px;
}

#sp2bodycoll
{
    float: left;
    width: 340px;
    margin-left: 42px;
}

#sp2bodycoll p
{
    float: left;
    width: 330px;
    font-family: georgia;
    font-size: .99em;
    line-height: 1.5em;
}

#sp2bodycolr
{
    float: right;
    width: 330px;
    margin-right: 40px;
}

#sp2bodycolr p
{
    font-family: georgia;
    font-size: .99em;
    line-height: 1.35em;
}

#coldivider1
{
    border-left: 1px solid black;
    height: 160px;
    margin-top: 20px;
    margin-left: 385px;
}

#coldivider2
{
    border-left: 1px solid black;
    height: 865px;
    margin-top: 18px;
    margin-left: 385px;
}

#coldivider3
{
    border-left: 1px solid black;
    height: 860px;
    margin-top: 18px;
    margin-left: 385px;
}

#sp2credit
{
    position: absolute;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    font-size: .5em;
    right: 37px;
    bottom: 11px;
}


/* ------------------------------ End Style Profile Article Styles -------------------------------- */


/* ------------------------------ Style Ask Nick Styles -------------------------------- */

#sanp1
{
    margin: 0 35px;
    -webkit-column-count: 3;
    -webkit-column-gap: 30px;
    position: absolute;
    top: 338px;
    left: 0px;
    height: 658px;
}

#sanp2
{
    margin: 45px 35px;
    -webkit-column-count: 3;
    -webkit-column-gap: 31px;
    position: absolute;
    top: 30px;
    left: 0px;
    height: 964px;
    line-height: 23px;
    width: 700px;
}

.multicolumnsan
{
    margin: 0 45px;
    -webkit-column-count: 3;
    -webkit-column-rule: 1px solid black;
    -webkit-column-gap: 20px;
}

#multicolumnsanp1
{
    position: absolute;
    top: 500px;
    height: 480px;
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 5px;
    line-height: 23px;
    -webkit-column-count: 3;
    -webkit-column-rule: 1px solid black;
    -webkit-column-gap: 20px;
}

.multicolumnsan p
{
    line-height: 20px;
}

#san1bodycoll
{
    float: left;
    width: 210px;
    margin-left: 37px;
    padding-right: 17px;
    border-right: 1px solid black;
    line-height: 90%;
}

#san1bodycolc
{
    margin-left: 20px;
    margin-right: -10px;
    float: left;
    width: 210px;
    line-height: 90%;
}

#san1bodycolr
{
    float: right;
    width: 210px;
    margin-right: 37px;
    border-left: 1px solid black;
    padding-left: 17px;
}

#container2
{
    clear: both;
}

#sanp2mast
{
    padding-top: 5px;
    margin-left: 35px;
    clear: both;
}

#sanp2mainimg
{
    position: absolute;
    left: 243px;
    top: 58px;
}

#san2bodycoll
{
    float: left;
    width: 210px;
    margin-left: 37px;
    padding-right: 17px;
    border-right: 1px solid black;
}

#san2bodycolc
{
    margin-left: 20px;
    margin-right: -10px;
    float: left;
    width: 210px;
}

#san2bodycolr
{
    float: right;
    width: 210px;
    margin-right: 37px;
    border-left: 1px solid black;
    padding-left: 17px;
}

.horizdiv
{
    margin-top: -7px;
    margin-bottom: -20px;
    border-top: 1px dashed black;
}

.rightalign
{
    text-align: right;
    margin-top: -15px;
    margin-bottom: -12px;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
}

.smallcaps
{
    font-variant: small-caps;
}

.question
{
    display: block;
    line-height: 21px;
    font-family: helvetica, san-serif;
    font-weight: bold;
    color: #ee3124;
    font-size: 95%;
    text-transform: uppercase;   
}

#sanbtmline
{
    width: 693px;
    height: 15px;
    background: #000;
    position: absolute;
    bottom: 35px;
    left: 38px;
}

#san_p2credit
{
    position: absolute;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    font-size: .5em;
    right: 37px;
    bottom: 31px;
}

/* ------------------------------ End Style Ask Nick Styles -------------------------------- */


/* ------------------------------ Style 2nd Page Tap-to-Reveal Buttons --------------------- */

#s2-btn01 {
    position: absolute;
    top: 921px;
    left: 190px;
    width: 101px;
    height: 74px;
}

#s2-btn02 {
    position: absolute;
    top: 921px;
    left: 302px;
    width: 101px;
    height: 74px;
}

#s2-btn03 {
    position: absolute;
    top: 921px;
    left: 415px;
    width: 101px;
    height: 74px;
}

#s2-btn04 {
    position: absolute;
    top: 921px;
    left: 527px;
    width: 101px;
    height: 74px;
}


/* ------------------------- End Style 2nd Page Tap-to-Reveal Buttons --------------------- */


.colophon
{
	margin-bottom: -1px;
}

.subtitle
{
	font-family: helvetica;
	font-size: 1.25em;
	color: #666666;
	font-weight: normal;
	line-height: 1.25em;
}

.summary
{
	font-style: italic;
	font-size: 1.00em;
	color: #8B8B8B;
	font-weight: bold;
	line-height: 1.50em;
	letter-spacing: 0.031em;
}

.body_header1
{
	font-family: helvetica;
	color: #6d849f;
	font-size: 1.25em;
	font-weight: bold;
	text-transform: uppercase;
}

.body_header2
{
	font-family: helvetica;
	color: #000000;
	font-size: 1.25em;
	font-weight: bold;
}

.body_header3
{
	font-family: helvetica;
	color: #000000;
	font-size: 1.00em;
	font-weight: bold;
}

.dropcap
{
	font-size: 400%;
	float: left;
	line-height: .8em;
	padding-right: 0.188em;
}

.lead_text1
{
	font-weight: bold;
	text-transform: uppercase;
}

.lead_text2
{
	font-family: helvetica;
	color: #C60B0B;
	font-weight: bold;
	text-transform: uppercase;
}

.author
{
	font-size: 0.80em;
	font-family: helvetica;
	font-weight: bold;
	color: #999999;
}

.name
{
	text-transform: uppercase;
}

.name_title
{
	text-transform: none;
	margin-top: -1.00em;
}

.caption
{
	font-size: 0.80em;
	font-family: helvetica;
	font-weight: bold;
	color: #999999;
	line-height: 1.20em;
	text-align: center;
}

.footnote
{
	font-size: 0.80em;
	font-family: georgia;
	font-weight: normal;
	line-height: 1.20em;
}

/* ------------------------------ Multimedia Styles -------------------------------- */

.multimedia
{
	background-image: url(../images/multimedia/mm_background_tile.png);
	background-repeat: repeat-x;
	background-color: #585858;
	min-height: 1024px;
}

.mm_item
{
	width: 660px;
	height: 205px;
	background-image: url(../images/multimedia/mm_item_panel.png);
	background-repeat: no-repeat;
	text-align: center;
	padding-top: 30px;
	margin: 15px;
}



/* ------------------------------ End Multimedia Styles -------------------------------- */



/* ------------------------------ Overriding Style Attributes - Use these styles to override single instances of a parent style - i.e., make a single word in a title light weight when the default is bold -------------------------------- */

.light /* -- to override bold -- */
{
	font-weight: normal;
}

.roman /* -- to override italic -- */
{
	font-style: normal;
}

.caps /* -- to make text uppercase -- */
{
	text-transform: uppercase;
}

.lowercase /* -- to make text uppercase -- */
{
	text-transform: lowercase;
}

.sans /* -- to override serif text -- */
{
	font-family: helvetica;
}

.serif /* -- to override sans-serif text -- */
{
	font-family: georgia;
}

/* ------------------------------ Positioning Attributes -------------------------------- */

.center
{
	text-align: center;
}

.right
{
	text-align: right;
}

.left
{
	text-align: left;
}

.floatleft
{
	float: left;
	padding-right: 10px;
}

.floatright
{
	float: right;
	padding-left: 10px;
}

.middle
{
	vertical-align: middle;
}


/* ------------------------------ Image Styles -------------------------------- */
img.bordered
{
	border: solid;
	border-width: 1px;
	border-color:#CCCCCC;
}

.fullspan
{
	margin-left: -100px;
	margin-right: -100px;
	width: 768px;
}

.article_mahb .fullspan
{
	margin-left: -190px;
	margin-right: -100px;
	width: 768px;
}

.more_icon
{
	position: relative;
	margin-left: -44px;
	margin-top: -36px;
}

/* ------------------------------ Quote Styles -------------------------------- */

.quote
{
	margin: 10px 40px 10px 40px;
	border-top: solid;
	border-top-color: #999999;
	border-top-width: 1px;
	border-bottom: solid;
	border-bottom-color: #999999;
	border-bottom-width: 1px;
}

.quote_text
{
    font-family: georgia;
	font-style: italic;
	font-weight: bold;
	color: #C60B0B;
	text-align: center;
	font-size: 1.25em;
}

.quote .name
{
	font-family: helvetica;
	font-weight: bold;
	color: #999999;
	text-align: right;
}

.quote .name_title
{
	font-family: helvetica;
	color: #999999;
	text-align: right;
}

/* ------------------------------ Table Styles -------------------------------- */

.basic_table
{
	font-family: helvetica;
	border-top: solid;
	border-top-width: 1px;
	border-top-color: #999999;
	border-left: solid;
	border-left-width: 1px;
	border-left-color: #999999;
}

.basic_table th
{
	font-size: 0.80em;
	text-transform: uppercase;
	background-color: #CCCCCC;
	padding: 5px;
	border-bottom: solid;
	border-bottom-width: 1px;
	border-bottom-color: #999999;
	border-right: solid;
	border-right-width: 1px;
	border-right-color: #999999;
}

.basic_table td
{
	padding: 5px;
	border-bottom: solid;
	border-bottom-width: 1px;
	border-bottom-color: #999999;
	border-right: solid;
	border-right-width: 1px;
	border-right-color: #999999;
}

/* ------------------------------ Inline Sidebar Styling Attributes -------------------------------- */


.inline_sidebar
{
	background-color:  #eeeeee;
	padding: 5px 10px 1px 10px;
	margin-bottom:20px;
}

.inline_sidebar .title
{
	font-size: 1.20em;
	color: #000000;
	font-weight: bold;
	text-align: left;
	line-height:1.25em;
}

.inline_sidebar p
{
	font-family: helvetica;
	font-size: 1.00em;
}

.inline_sidebar .more_icon
{
	margin: -15px -10px -15px 5px;
}

/* ------------------------------ Related Article Styling Attributes -------------------------------- */

.related_article
{
	width: 100%;
	border-top: solid 1px #CCCCCC;
}

.related_header
{
	font-family: helvetica;
	color: #666666;
	font-weight: bold;
	text-transform: uppercase;
	padding: 5px 10px 5px 10px;
	background-color: #cccccc;
}

.related_title
{
	font-family: helvetica;
	font-size: 1.00em;
	color: #333333;
	font-weight: bold;
	padding-left: 10px;
	padding-bottom: 10px;
	margin-bottom: 0;
	border-bottom: solid 1px #CCCCCC;
}

.related_button
{
	float: right;
	padding-left: 10px;
}

/* ---------------------------- Next, Previous and Main Article Styling Attributes ------------------------- */

.prev_next
{
	padding: 20px 0 40px 0;
	width: 100%;
}

.prev_button
{
	float: left;
}

.next_button
{
	float: right;
}

.prev_next_title
{
	text-align: center;
	font-family: helvetica;
	font-size: 12px;
	color: #ffffff;
	line-height: 15px;
	font-weight: bold;
	margin: -43px 0 0 0;
	padding: 0px 10px 0px 10px;
	height: 30px;
	overflow: hidden;
}

.back_button
{
	text-align: center;
	padding: 20px 0 40px 0;
}

/* --------------------------------------------------------------------------- */
/* ---------------------------- Sidebar Page Styles ---------------------------- */
/* --------------------------------------------------------------------------- */

.sidebar
{
	background-color: #cccccc;
}

.sidebar p
{
	font-family: helvetica;
	font-size: 1.0em;
	line-height: 1.5em;
}

.sidebar .title
{
	font-size: 1.50em;
	color: #ffffff;
	font-weight: bold;
	text-align: left;
	line-height:1.25em;
	background-color: #666666;
	margin: -10px;
	padding: 20px 10px 10px 10px;
}

.sidebar .body_header1
{
	font-family: helvetica;
	color: #005395;
	font-size: 1.25em;
	font-weight: bold;
	text-transform: none;
}

.sidebar .body_header2
{
	font-family: helvetica;
	color: #000000;
	font-size: 1.25em;
	font-weight: bold;
	text-transform: uppercase;
}

.sidebar .summary
{
	color: #000000;
}

/* --------------------------------------------------------------------------- */
/* ---------------------------- Editor's Letter Styles ----------------------- */
/* --------------------------------------------------------------------------- */

#ed_letter_main1
{
    margin: 85px 45px 45px 0;
    position: absolute;
    bottom: -15px;
    left: 305px;
    line-height: 19px;
}

#ed_letter_main2
{
    margin: 0 45px 45px 0;
    position: absolute;
    top: 32px;
    left: 305px;
}

#ed_letter_main3
{
    margin: 0 45px 45px 0;
    position: absolute;
    top: 35px;
    left: 305px;
    width: 415px;
}

/* --------------------------------------------------------------------------- */
/* ---------------------------- This Way In Styles ---------------------------- */
/* --------------------------------------------------------------------------- */

.thisway .body_header1
{
	color: #005395;
}

.thisway .summary
{
	font-family: helvetica;
	color: #6d6e71;
}

.thisway .name
{
	text-align: right;
}

.thisway .name_title
{
	text-align: right;
	font-style: italic;
}

.thisway .quote
{
	padding: 10px;
	margin-left: 0px;
	margin-right: 0px;
	border-top: none;
	border-bottom: none;
	background-color: #ffd33d;
}

.thisway .quote_text
{
    font-family: georgia;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	text-align: center;
}

/* --------------------------------------------------------------------------- */
/* ---------------------------- Thousand Words ---------------------------- */
/* --------------------------------------------------------------------------- */

.thousand_words p
{
	font-family: Courier;
	font-size: 1em;
	line-height: 1.5em;
	text-align:justify;
}

.thousand_words .title
{
	text-align: center;
}

.thousand_words .popup_link {
	color: #c00;
	font-weight: bold;
}

.hide {display: none;}


#caption {
	color: black;
	font-weight: bold;
	font-style: oblique;
	font-family: Helvetica;
}


/* --------------------------------------------------------------------------- */
/* ---------------------------- Survey Drinking ---------------------------- */
/* --------------------------------------------------------------------------- */

.survey_drinking
{
}

.survey_drinking p
{
	font-family: helvetica;
}

.survey_drinking a
{
	background-image: url(images/btn_mcq.png);
	background-repeat: no-repeat;
	padding-left: 39px;
	text-decoration: none;
	color: #000000;
	font-size: 1.1em;
	display: table-cell;
	height: 34px;
	vertical-align: middle;
}

.survey_drinking .summary
{
	font-family: georgia;
	position: absolute;
	Width: 300px;
	text-align: right;
	top: 600px;
	left: 400px;
	font-style: normal;
	font-size: 1.2em;
	color: #000000;
}

.survey_page
{
	background-image: url(images/bg_survey.png);
	background-repeat: no-repeat;
	width: 768px;
	height: 1024px;
}

.survey_question
{
	font-size: 1.2em;
	font-weight: bold;
}

.q_pos_1
{
	width: 297px;
	height: 405px;
	float: left;
	margin-top: 84px;
	margin-left: 67px;
}

.q_pos_2
{
	width: 297px;
	height: 405px;
	float: left;
	margin-top: 84px;
	margin-left: 41px;
}

.q_pos_3
{
	width: 297px;
	height: 405px;
	float: left;
	margin-top: 41px;
	margin-left: 67px;
}

.q_pos_4
{
	width: 297px;
	height: 405px;
	float: left;
	margin-top: 41px;
	margin-left: 41px;
}



/* --------------------------------------------------------------------------- */
/* ----------------------------------- Quiz ---------------------------------- */
/* --------------------------------------------------------------------------- */
body.quiz {
	width: 768px;
}
body.quiz .page {
	background: url(../images/quiz/bg_page.gif) no-repeat top left;
	padding: 61px 0 0 92px;
	width: 676px;
	height: 963px;
	position: relative;
	//border: 1px solid black;
}
body.quiz .page#last {
	background: url(../images/quiz/bg_page_last.gif) no-repeat top left;
	padding: 61px 0px 0 92px;
	width: 676px;
	height: 963px;
	position: relative;
}
body.quiz .page#page1 {
	position: relative;
}
body.quiz a#begin {
	position: absolute;
	width: 130px;
	height: 130px;
	top: 870px;
	left: 320px;
}
body.quiz.quiz #timer {
	//display: none;
	border: 1px solid #999;
	background-color: #ddd;
	font-weight: bold;
	width: 100px;
	text-align: center;
	margin: 20px 0;
	padding: 5px;
}
body.quiz #counter {
	//display: none;;
}
body.quiz div.quiz_question {
	width: 303px;
	height: 465px;
	float: left;
	margin-right: 25px;
	font: 14px Verdana, Geneva, Arial, Helvetica, sans-serif;
}
body.quiz div.quiz_question span {
	color: #ec891d;
}
body.quiz table.choice {
	margin-bottom: 10px;
}
body.quiz input[type="radio"] {
	display: none;
}
body.quiz input[type="radio"]:checked + table {
	background-color: #31cfff;
	color: white;
}
body.quiz input[type="radio"]:checked + table span {
	color: white;
}
body.quiz label {
	font-size: 1.2em;
}
body.quiz .next_page {
	position: absolute;
	bottom: 23px;
	right: 70px;
}
body.quiz .next_page a {
	font: 14px Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #FFF;
	text-transform: uppercase;
	font-weight: bold;
	padding-right: 25px;
	background: url(../images/quiz/arrow_down_blue.png) no-repeat center right;
}
body.quiz #scoresheet {
	position: relative;
	top: 618px;
	left: 14px;
	width: 31px;
	height: 272px;
}
body.quiz #scoresheet #arrow {
	display: none;
	position: absolute;
	top: 6px;
	left: 2px;
	background: url(../images/quiz/arrow_right_black.png) no-repeat center right;
	width: 25px;
	height: 25px;
}
body.quiz #error {
	display: none;
	margin-top: 20px;
	font-weight: bold;
	color: red;
}
body.quiz label {
	font-size: 1.2em;
}

/* --------------------------------------------------------------------------- */
/* ----------------------------------- Survey -------------------------------- */
/* --------------------------------------------------------------------------- */
body.survey {
	width: 768px;
}
body.survey .page {
	background: url(../images/2050/bg_page.gif) no-repeat top left;
	padding: 41px 0 0 53px;
	width: 715px;
	height: 984px;
	position: relative;
}
body.survey .page_last {
	background: url(../images/2050/bg_page_last.gif) no-repeat top left;
	padding: 41px 0 0 53px;
	width: 715px;
	height: 984px;
	position: relative;
}
body.survey div.quiz_question {
	width: 279px;
	height: 426px;
	float: left;
	padding: 25px;
	font: 14px Verdana, Geneva, Arial, Helvetica, sans-serif;
}
body.survey div.quiz_question h3 {
	margin-top: 0;
}
body.survey div.quiz_question span {
	font-weight: normal;
}
body.survey table.choice {
	margin-bottom: 6px;
}

/* ----------------------------------TWO ARTICLE STYLES------------------------------------ */

.TWOarticle
{
	width: 768px;
	margin-left: 0px;
	margin-right: 0px;
	position: relative;
}

.twocent
{
    width: 585px;
    font-family: Helvetica, san-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 90%;
}

.twohead
{
    font-weight: bold;
    color: #841c1e
}

.horizdivtwo
{
    margin-top: 10px;
    margin-bottom: 0px;
    border-top: 1px dashed black;
}

#two_credit
{
    position: absolute;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    font-size: .5em;
    top: 694px;
    right: 59px;
}

#two_credits
{
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    font-size: .6em;
    position: absolute;
    left: 65px;
    bottom: 27px;
    color: #888;
}

#wil1
{
    width: 725px;
    position: absolute;
    top: 270px;
    left: 55px;
}

#wil2
{
    width: 725px;
    position: absolute;
    top: 18px;
    left: 55px;
    line-height: 23px;
}

.wwl-question{
    font-family:helvetica; 
    color:#0099ff;    
}

#pen_button1{
    position:absolute; 
    top:278px; 
    left:50px; 
    width:110px; 
    height:87px;
    z-index:3;        
}

#pen_button2{
    position:absolute; 
    top:390px; 
    left:50px; 
    width:110px; 
    height:87px; 
    z-index:3;
}

#pen2{
    position:absolute; 
    top:42px; 
    left:28px; 
    display:none;        
}

#camelcoat_formal{
    display: block; 
    position: absolute; 
    width: 154px; 
    height: 265px; 
    top: 631px; 
    left: 217px; 
//    background: rgba(255,0,0,0.25)    
}

#camelcoat_semicasual{
    display: block; 
    position: absolute; 
    width: 180px; 
    height: 265px; 
    top: 632px; 
    left: 371px;
//    background: rgba(0,255,0,0.25);    
}

#camelcoat_casual{
    display: block; 
    position: absolute; 
    width: 207px; 
    height: 265px; 
    top: 632px; 
    left: 551px; 
//    background: rgba(0,0,255,0.25);    
}

#dufflecoat_formal{
    display: block; 
    position: absolute; 
    width: 154px; 
    height: 265px; 
    top: 631px; 
    left: 217px; 
//    background: rgba(255,0,0,0.25)    
}

#dufflecoat_semicasual{
    display: block; 
    position: absolute; 
    width: 180px; 
    height: 265px; 
    top: 632px; 
    left: 371px;
//    background: rgba(0,255,0,0.25);    
}

#dufflecoat_casual{
    display: block; 
    position: absolute; 
    width: 207px; 
    height: 265px; 
    top: 632px; 
    left: 551px; 
//    background: rgba(0,0,255,0.25);    
}

#parka_formal{
    display: block; 
    position: absolute; 
    width: 154px; 
    height: 265px; 
    top: 631px; 
    left: 217px; 
//    background: rgba(255,0,0,0.25)    
}

#parka_semicasual{
    display: block; 
    position: absolute; 
    width: 180px; 
    height: 265px; 
    top: 632px; 
    left: 371px;
//    background: rgba(0,255,0,0.25);    
}

#parka_casual{
    display: block; 
    position: absolute; 
    width: 207px; 
    height: 265px; 
    top: 632px; 
    left: 551px; 
//    background: rgba(0,0,255,0.25);    
}

#jacket1{
    position:absolute; 
    top:900px;
    left:40px;
    height:53px;
    width:160px;
    background-image:url('../images/style/style_img_jacket_1_off.png');
}

#jacket2{
    position:absolute; 
    top:900px; 
    left:220px; 
    height:53px; 
    width:160px;
    background-image:url('../images/style/style_img_jacket_2_off.png');
}

#jacket3{
    position:absolute; 
    top:900px; 
    left:400px; 
    height:53px; 
    width:160px;
    background-image:url('../images/style/style_img_jacket_3_off.png');
}

#tap-for-story{
    position:absolute; 
     top:840px; 
     left:585px; 
     height:180px; 
     width:180px;
}

#camelcoat_formal_container{
    left: 0;
}

#camelcoat_semicasual_container
{
    left: 0;
}

#camelcoat_casual_container{
    left: 0;
}

#page1-coat{
    display: block; 
    position: absolute; 
    top: 279px;
    left: 17px;
}

#dufflecoat_formal_container{
    left: 0;
}

#dufflecoat_semicasual_container
{
    left: 0;
}

#dufflecoat_casual_container{
    left: 0;
}

#page2-coat{
    display: block; 
    position: absolute; 
    top: 279px;
    left: 0px;
}

#parka_formal_container{
    left: 0;
}

#parka_semicasual_container
{
    left: 0;
}

#parka_casual_container{
    left: 0;
}

#page3-coat{
    display: block; 
    position: absolute; 
    bottom: -5px;
    left: 0px;
}

#style-tap1 {
    position: absolute;
    top: 675px;
    left: 37px;
    width: 175px;
    height: 52px;
}

#style-tap2 {
    position: absolute;
    top: 734px;
    left: 37px;
    width: 175px;
    height: 52px;
}

#style-tap3 {
    position: absolute;
    top: 793px;
    left: 37px;
    width: 175px;
    height: 52px;
}

#style-tap4 {
    position: absolute;
    top: 852px;
    left: 37px;
    width: 175px;
    height: 52px;
}

/*
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1.0);
    opacity: 0.75;
  }
  50% {
    -webkit-transform: scale(1.1);
    opacity: 1.0;
  }
  to { 
    -webkit-transform: scale(1.0);
    opacity: 0.75;
  }
}

img#pulseimg { 
    opacity: 0.75; 
  -webkit-animation-name: pulse; 
  -webkit-animation-duration: 1.5s; 
  -webkit-animation-iteration-count: infinite; 
}	
*/